# Build folders
**/bin/
**/obj/
appsettings.Development.json

# Local history
.history/

# Editor folders
.vscode/
.idea/

# User-specific
*.user
*.suo

# SQLite database files
*.db-shm
*.db-wal

# NuGet packages
*.nuget.props
*.nuget.targets
project.assets.json
*.csproj.lscache