@using Microsoft.AspNetCore.Components.Authorization

@* SmartLeadAI/Components/Routes.razor *@
<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        @* Replace RouteView with AuthorizeRouteView *@
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p class="text-danger m-3">You are not authorized to view this page. Please log in.</p>
            </NotAuthorized>
            <Authorizing>
                <p class="m-3">Validating security clearances...</p>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>