@using SmartLeadAI.Components;
@using SmartLeadAI.Services;
@inject InteractionService InteractionService
@attribute [Authorize]

@page "/interactions/create"

@rendermode InteractiveServer

<h3>Create Interaction</h3>

<CreateInteractionForm/>